html, body {
    height: 100%;
}

[type="text"] {
    height: 40px;
    padding: 0 25px;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: darkgrey;
    color: #fff;
    font-size: 16px;
    line-height:40px;
}

nav.navbar {
    margin: 0;
}
.navbar-toggle {
    display: block !important;
    float: left;
}
.navbar .navbar-collapse {
    position: fixed;
    top: 0;
    left: -320px !important;
    height: 100% !important;
    width: 320px !important;
    background: grey;
    z-index: 200;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.navbar-collapse.in {
    left: 0 !important;
}

.navbar-brand {
    float: none;
    font-size: 3em;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}

.wrapper {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
}

header {
    flex: 0;
}
.event-form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 10px 0;
}

.view-switcher span {
    display: inline-block;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: darkgrey;
    color: #fff;
    font-size: 16px;
    line-height:40px;
    text-align: center;
}
.view-switcher span.active {
    background-color: lightseagreen;
}
.view-switcher {}

.content {
    flex: 2;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#demo {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
#demo > div {
    width: 50%;
    padding: 15px;
    border: 1px solid dimgrey;
}
#demo > div:nth-child(odd) {
    background-color: gainsboro;
}
#map {
    height: 100%;
    width: 50%;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

body.list-on:not(.map-on) #demo {
    width: 100%;
}
body.map-on:not(.list-on) #map {
    width: 100%;
}
body:not(.list-on) #demo {
    left: 100%;
}
body:not(.map-on) #map {
    left: -100%;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    background-image: url("loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
}